#window {
    position: relative;
    width: 100%;
}

#list {
    display: inline-block;
    width: 150px;
    height: 150px;
    overflow: auto;
    border: solid 1px;
}

#tab {
    display: block;
}

#input {
    display: inline-block;
}

#button {
    display: inline-block;
}

#result {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    width: 200px;
    border: solid 2px;
    word-wrap: break-word;
}